* {
  box-sizing: border-box;
}

#container {
  height: 100vh;
  margin: 40px 130px;
}

.header-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.header-title-container {
  text-align: center;
}

.name {
  font-size: 24px;
  color: #4e5150;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 5px auto;
}

.city {
  font-size: 14px;
  color: #a9a9a9;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 5px auto;
}

.header-image-container img {
  width: 137.09px;
  height: 137.09px;
  object-fit: contain;
  border-radius: 16px;
}

.header-info-container {
  display: flex;
  justify-content: center;
}

.info {
  background-color: #e5e5e5;
  margin: 10px;
  border-radius: 12px;
  padding: 10px 15px;
  font-family: 'Montserrat', sans-serif;
}

.info span{
  display: block;
  text-align: center;
}

.dark-gray {
  color: #4e5150;
  font-weight: 600;
  font-size: 18px;
}

.gray {
  color: #bdbdbd;
  font-size: 14px;
  font-weight: 600;
}

main {
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 25px;
  grid-template-areas: 
    "cont-1 cont-2 cont-2"
    "cont-3 cont-3 cont-4"
    "cont-6 cont-5 cont-4";
}

.image-container img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.container-1 {
  grid-area: cont-1;
}

.container-2 {
  grid-area: cont-2;
}

.container-3 {
  grid-area: cont-3;
}

.container-4 {
  grid-area: cont-4;
}

.container-4 img {
  height: 96.5%;
}

.container-5 {
  grid-area: cont-6;
}

.container-6 {
  grid-area: cont-5;
}

footer {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  height: 30px;
  align-items: center;
}

footer span {
  color: #b9bdcf;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

span a {
  color: #b9bdcf;
  font-weight: 700;
}

@media only screen and (max-width: 1000px) {
  #container {
    margin: 20px 70px;
  }
  
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 15px;
  }
}

@media only screen and (max-width: 640px) {
  #container {
    margin: 20px 5px;
  }

  main {
    margin: 20px auto;
    column-gap: 10px;
  }

  .info {
    margin: 5px;
    padding: 10px 10px;
  }

  .header-image-container img {
    width: 100px;
    height: 100px;
  }

  .name {
    font-size: 14px;
  }

  .city {
    font-size: 10px;
  }

  .dark-gray, .gray {
    font-size: 12px;
  }
}